.clients__slider.owl-carousel
	.clients__list
		.clients__item
			img.clients__pic(src="assets/img/clients1.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients2.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients3.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients4.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients5.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients6.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients7.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients8.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients9.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients10.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients11.svg")
		.clients__item.clients__item--arrow--next
			img.clients__pic.clients__pic--arrow(src="assets/img/arrow-right.svg")
	.clients__list
		.clients__item
			img.clients__pic(src="assets/img/clients12.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients13.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients14.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients15.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients16.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients17.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients18.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients19.svg")
		.clients__item.clients__item--arrow--prev.clients__item--tablet--hide
			img.clients__pic(src="assets/img/arrow-left.svg")
		.clients__item
			img.clients__pic(src="assets/img/clients20.svg")
		.clients__item.clients__item--arrow--prev.clients__item--tablet--show
			img.clients__pic(src="assets/img/arrow-left.svg")
