footer.footer
	+popup('brief')
		include _popup-brief

	.container
		.footer__head
			.footer__logo
				img.footer__logo-elem(src="assets/img/logo-black.svg")
			nav.footer__nav.nav.nav--footer
				.nav__list
					.nav__item
						a.nav__link(href="#")

		.footer__content
			.footer__title Обсудить проект
			.footer__info
				.footer__contacts.contacts.contacts--footer
					.contacts__list
						.contacts__item
							a.contacts__link(href="")

				.footer__button
					button.button(data-popup-trigger="brief") Начать сотрудничество
		.footer__bot
			.footer__copyright © 2021

