header.header
	.container.header__container
		.header__left
			.header__logo
				img.header__logo-elem(src="assets/img/logo.svg")
		.header__right
			nav.header__nav.nav
				.nav__list
					.nav__item
						a.nav__link(href="/about.html") О нас
					.nav__item
						a.nav__link(href="/cases.html") Проекты

			.header__contacts.contacts.contacts--header
				.contacts__list
					.contacts__item
						a.contacts__link(href="mailto:info@air.agency") info@air.agency
					.contacts__item
						a.contacts__link(href="tel:+74956606202") +7 (495) 660-62-02
			a.header__burger.burger(href="#", data-popup-trigger="menu")
				.burger__elem
				.burger__elem
	#mouse



